<template th:fragment="html(title)">

  <script src="./js/jquery.min.js"></script>
  <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
  <script src="./bootstrap/js/bootstrap.min.js"></script>
  <script src="./js/vue.min.js"></script>
  <script src="./js/dist_echarts.min.js"></script>
  <script src="./js/axios.min.js"></script>

  <link rel="stylesheet" href="./element/lib/theme-chalk/index.css">
  <script src="./element/lib/index.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title th:text="${title}" ></title>
</template>