<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/HeaderConfig/configHead::html('上传界面')">
</head>

<body>
<div id="app" style="width: auto;margin: 20px;float: left">


       <!-- <el-row :gutter="200">-->
            <!--<el-col  >
                <el-card :body-style="{ padding: '10px' }">
                    <div style="margin: 5px">
                        <img src="/image/ok.PNG" class="image">
                    </div>

                    <div style="margin: 5px;">

                        <span style="font-family: 新宋体;font-weight: bold;font-size: 30px" >迅捷兴信息制造平台</span>
                        <div class="bottom clearfix">
                            &lt;!&ndash;<time class="time">{{ currentDate }}</time>&ndash;&gt;
                            <el-button type="text" class="button" @click="downLoad('最小的截图软件')">下载</el-button>
                        </div>

                    </div>
                </el-card>
            </el-col>

            <el-col  >
                <el-card :body-style="{ padding: '10px' }">
                    <div style="margin: 5px">
                        <img src="/image/ok.PNG" class="image">
                    </div>

                    <div style="margin: 5px;">

                        <span style="font-family: 新宋体;font-weight: bold;font-size: 30px" >迅捷兴信息制造平台</span>
                        <div class="bottom clearfix">
                            &lt;!&ndash;<time class="time">{{ currentDate }}</time>&ndash;&gt;
                            <el-button type="text" class="button" @click="downLoad('最小的截图软件')">下载</el-button>
                        </div>

                    </div>
                </el-card>
            </el-col>-->
       <!-- </el-row>-->

    <el-container>

        <el-aside width="400px" >

                    <div style="width: 250px">
                        <!-- <el-col :span="6" >-->
                        <el-card :body-style="{ padding: '10px' }">
                            <div style="margin: 5px">
                                <img src="/image/jx.PNG" class="image">
                            </div>
                            <div style="margin: 5px;">
                                <span style="font-family: 新宋体;font-weight: bold;font-size: 20px">
                                    <a href="#" style="cursor:pointer" @click="downLoad('sogou_wubi_31a')">迅捷兴信息制造平台</a>
                                </span>
                                <!--<div class="bottom clearfix">
                                    &lt;!&ndash;<time class="time">{{ currentDate }}</time>&ndash;&gt;
                                    <el-button type="text" class="button" @click="downLoad('sogou_wubi_31a')" >下载</el-button>
                                </div>-->
                            </div>
                        </el-card>
                        <!-- </el-col>-->
                    </div>

                    <div style="width: 250px;margin-top: 30px">
                        <!--  <el-col :span="6" >-->
                        <el-card :body-style="{ padding: '10px' }">
                            <div style="margin: 5px">
                                <img src="/image/ok.PNG" class="image">
                            </div>

                            <div style="margin: 5px;">
                                <span style="font-family: 新宋体;font-weight: bold;font-size: 20px">
                                 <a href="#" style="cursor:pointer" @click="downLoad('jpwb2013yh')">迅捷兴信息制造平台</a>
                                </span>
                                <div class="bottom clearfix">
                                    <!--<time class="time">{{ currentDate }}</time>-->
                                    <!--<el-button type="text" class="button" @click="downLoad('jpwb2013yh')">下载</el-button>-->
                                </div>
                            </div>
                        </el-card>
                        <!-- </el-col>-->
                    </div>

                    <div style="width: 250px;margin-top: 30px">
                        <!--  <el-col :span="6" >-->
                        <el-card :body-style="{ padding: '10px' }">
                            <div style="margin: 5px">
                                <img src="/image/ok.PNG" class="image">
                            </div>

                            <div style="margin: 5px;">
                                <span style="font-family: 新宋体;font-weight: bold;font-size: 20px">
                                 <a href="#" style="cursor:pointer" @click="downLoad('jpwb2013yh')">迅捷兴信息制造平台</a>
                                </span>
                                <div class="bottom clearfix">
                                    <!--<time class="time">{{ currentDate }}</time>-->
                                    <!--<el-button type="text" class="button" @click="downLoad('jpwb2013yh')">下载</el-button>-->
                                </div>
                            </div>
                        </el-card>
                        <!-- </el-col>-->
                    </div>

                    <div style="width: 250px;margin-top: 30px">
                        <!--  <el-col :span="6" >-->
                        <el-card :body-style="{ padding: '10px' }">
                            <div style="margin: 5px">
                                <img src="/image/ok.PNG" class="image">
                            </div>

                            <div style="margin: 5px;">
                                <span style="font-family: 新宋体;font-weight: bold;font-size: 20px">
                                 <a href="#" style="cursor:pointer" @click="downLoad('jpwb2013yh')">迅捷兴信息制造平台</a>
                                </span>
                                <div class="bottom clearfix">
                                    <!--<time class="time">{{ currentDate }}</time>-->
                                    <!--<el-button type="text" class="button" @click="downLoad('jpwb2013yh')">下载</el-button>-->
                                </div>
                            </div>
                        </el-card>
                        <!-- </el-col>-->
                    </div>

                    <div style="width: 250px;margin-top: 30px">
                        <!--  <el-col :span="6" >-->
                        <el-card :body-style="{ padding: '10px' }">
                            <div style="margin: 5px">
                                <img src="/image/ok.PNG" class="image">
                            </div>

                            <div style="margin: 5px;">
                                <span style="font-family: 新宋体;font-weight: bold;font-size: 20px">
                                 <a href="#" style="cursor:pointer" @click="downLoad('jpwb2013yh')">迅捷兴信息制造平台</a>
                                </span>
                                <div class="bottom clearfix">
                                    <!--<time class="time">{{ currentDate }}</time>-->
                                    <!--<el-button type="text" class="button" @click="downLoad('jpwb2013yh')">下载</el-button>-->
                                </div>
                            </div>
                        </el-card>
                        <!-- </el-col>-->
                    </div>

                    <div style="width: 250px;margin-top: 30px">
                        <!--  <el-col :span="6" >-->
                        <el-card :body-style="{ padding: '10px' }">
                            <div style="margin: 5px">
                                <img src="/image/ok.PNG" class="image">
                            </div>

                            <div style="margin: 5px;">
                                <span style="font-family: 新宋体;font-weight: bold;font-size: 20px">
                                 <a href="#" style="cursor:pointer" @click="downLoad('jpwb2013yh')">迅捷兴信息制造平台</a>
                                </span>
                                <div class="bottom clearfix">
                                    <!--<time class="time">{{ currentDate }}</time>-->
                                    <!--<el-button type="text" class="button" @click="downLoad('jpwb2013yh')">下载</el-button>-->
                                </div>
                            </div>
                        </el-card>
                        <!-- </el-col>-->
                    </div>

        </el-aside>

        <el-container>

            <el-header style="text-align: left;font-size: 50px;background: #9acfea;line-height: 60px">
                <label>迅捷兴科技股份有限公司下载平台</label>
            </el-header>

            <el-main>

                <img src="/image/jxCompany.PNG"><br>

            </el-main>

        </el-container>

    </el-container>

</div>

<style>
    .time {
        font-size: 13px;
        color: #999;
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }
    .button {
        padding: 0;
        float:  right;
        font-size: 40px;
    }
    .image {
        width: 20%;
        height: 10%;
        display: block;
    }
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

</style>

<script>
var data4Vue={
    fileNameSuffix:'',
    id:1
}
   var vue= new Vue({
        el:'#app',
        data: data4Vue,

        methods:{
          downLoad: function(name){
              /*vue.fileNameSuffix='sogou_wubi_31a'
              var url="downLoading?id="+this.id;
              console.log(url);
              axios.get(url).then(function(response){
                  location.href='downLoading';
                  console.log(response.data)
              })*/
              if (name!=null){
                  window.location.href='downLoading?name='+name
                  out.clean();
                  console.log(name);
              }
          },

        },

    })
</script>

</body>
</html>