<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/HeaderConfig/configHead::html('上传界面')">
</head>
<!--隐藏组件-->
<style>
    .el-upload__input{
        visibility: collapse;
    }
</style>
<body>

<div style="margin: 50px" id="app" >


    <el-upload
            :multiple="true"
            action="/fileMulUpload"
            list-type="picture-card"
            :auto-upload="false"
            :http-request="uploadFile"
            ref="upload"
            >
        <i class="el-icon-plus"></i>
    </el-upload>

    <div style="margin-top: 10px">
        <el-button @click="subPicForm" type="primary">上传</el-button>
    </div>

</div>
    <script>
        new Vue({
            el:'#app',
            data:{
                formData:'',
                filePath:{}
            },
            mounted: function () {
            },
            methods: {
                uploadFile(file){
                    this.formDate.append('file', file.file);
                },
                subPicForm(){
                    this.formDate=new FormData;
                    this.$refs.upload.submit();
                    this.formDate.append('WS_CODE', "12133");
                    let config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    axios.post("fileMulUpload", this.formDate,config).then( res => {
                        console.log(res.data);
                        this.filepath = res.data;
                        console.log(this.filepath);

                    }).catch( res => {
                        console.log(res)
                    })

                }
            }

        })
    </script>
</body>
</html>